/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Form IO
.formio-wrapper{

    formio-alerts{
      display: none !important;
    }
  
    .has-feedback{
      background: transparent !important;
      padding: 0 !important;
      border: 0 !important;
    }
  
    .wizard-page{
      padding: 0px 17px;
      .col-form-label{
        font-size: 0.9rem;
      }
    
      .form-control {
        border-radius: 0px;
        box-shadow: none;
        &:focus{
          border-color: var(--ion-color-secondary);
          box-shadow: none;
          outline: 0;
        }
      }
    }
  
    .list-inline{
      display: flex;
      // justify-content: space-between;
      border-top: 1px solid rgba(0, 0, 0, 0.22);
      padding: 0px 17px;
      padding-top: 17px;
      justify-content: center;
      flex-wrap: wrap;
      .list-inline-item{
        margin-bottom: 5px;
      }
    }
  
    nav{
      .pagination{
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        border-radius: 0;
        .page-item{
          flex: 1;
          background: #b1b1b1;
          border: 0;
          border-top: 1px solid var(--ion-color-light);
          border-left: 1px solid var(--ion-color-light);
          display: flex;
          align-items: center;
          pointer-events: none;
          cursor: not-allowed;
          &:first-child{
            border-left: 0;
            .page-link{
              border-left: 0;
            }  
          }
  
          &:last-child{
            .page-link{
              border-right: 0;
            }  
          }
          .page-link{
            width: 100%;
            border-radius: 0;
            font-size: 1rem;
            padding: 10px 16px;
            color: var(--ion-color-light);
            background: #b1b1b1;
            text-align: center;
            border: 0;
            border-left: 1px solid var(--ion-color-light);
            padding: 16px 0px;
          }
          &.active, &.fill{
            color: var(--ion-color-light);
            background: var(--ion-color-secondary);
            pointer-events: initial;
            cursor: pointer;
            .page-link{
              color: var(--ion-color-light);
              background: var(--ion-color-secondary);
            }
          }
        }
      }
    }
  
    .btn{
      border-radius: 0;
      min-width: 150px;
      text-transform: uppercase;
      outline: 0 !important;
      box-shadow: none !important;
      &.btn-primary{
        background: var(--ion-color-secondary);
        border-color: var(--ion-color-secondary);
        &.focus, &:focus, &.active, &:active, &.hover, &:hover{
          background: transparent;
          color: var(--ion-color-secondary);
          border-color: var(--ion-color-secondary);
        }
      }
      &.btn-secondary{
        background: var(--ion-color-dark);
        border-color: var(--ion-color-dark);
      }
    }
  
    .formio-component-radio{
      .form-group{
        .form-check{
          display: inline-block;
          margin-left: 15px;
          &:first-of-type{
            margin-left: 0;
          }
          .form-check-label{
            input{
              top: 1px;
              vertical-align: middle;
            } 
            span{
              vertical-align: middle;
            }
          }
        }
      }
    }
  }